body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: rgb(0, 204, 255);
	background: linear-gradient(90deg, rgba(150,34,234,1) 0%, rgba(27,79,23,1) 100%);
}

.container {
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	background-color:inset #ec65e7;
	box-shadow: 0 0 10px rgb(202, 78, 192, 0.9);
}

.game-info {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.player-info {
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 15px;
	width: 210px;
	height: 280px;
	margin: 5px;
	background: transparent;
}

.controls {
	margin-bottom: 20px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background-color: #d41111;
	color: #ffffff;
	margin: 0 10px;
}

button:hover {
	background-color: #6b0a0a;
}

#dice-container {
	margin-top: 20px;
	padding-bottom: 18px;
}

#dice {
	width: 100px;
	height: 100px;
}

h2{
	margin-bottom: 140px;
}
